.img-penguin{
    width: 30%;
}
.spacing-nav{
   
    margin: 5px;
   
}
.img-women{
    width: 100%;
}
.colors{
    color: orange;
}
.cr{
    color: blueviolet;
}
.colours-p{
    font-size: 60px;
}
.but{
    font-weight: 800px;
    font-size: 20px;
   
}
.igm{
    width: 50%;
    height: 50%;
    background-color: lightgray;
    
}
.he{
    height: 40%;
}


.h3-col{
    color: orange;
}
.buttonn{
  padding-left: 20px;
  padding-right: 20px;
  
}
.crr{
    color: blueviolet;
    font-size: 35px;
    font-weight: 11 00PX;
}